{% extends "base.html" %}
{% block info %}
<h1 class="display-5 fw-bold">Bra jobba!</h1>
<div class="fs-3">
    Du har fått hentet informasjon om brukeren som logget inn og dermed er du i mål.
</div>
{% endblock %}
{% block body %}
<h1 class="display-5 fw-bold">Response</h1>

<div class="container px-lg-5">
    <div class="card bg-light border-top h-100">
        <div class="card-body text-center">
            <pre class="fs-6 text-start"><strong>Response code: </strong>{{ response.status_code }}</pre>
            <pre class="fs-6 fw-bold text-start">Body:</pre>
            <pre class="fs-6 text-start">{{ json }}</pre>
        </div>
    </div>
</div>
<div class="card-body">
    <a class="btn btn-kantega btn-lg" href="/">Start på nytt</a>
</div>
{% endblock %}
